nav{
    background-color: #0b3641;
    color: #7c8588;

}
.navbar {
    height: 50px;
    width: 1440px;
    display: grid;
    justify-content: space-between;
    color: #0b3641;
}

body {
    background-color: #94c2ce;
    height: max-content;
    display: grid;
    grid-template-columns: .1fr 1fr .1fr;
    grid-template-areas: ". body.";
    
}

ul {
    list-style-type: none;
    padding-left: 15px;;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 100px));
}

a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #A7CED2;
}
.journal-container {
    grid-area: body;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 1000px;
}

.header {
    font-size: 36px;
    color: black;
    align-self: center;
}

.journal-entry {
    padding: 15px;
    background-color: #0b3641;
    color: #94c2ce;
    display: grid;
    grid-template-columns: minmax(100px, 200px);
    grid-template-rows: 50px 24px 100px min-content;
    gap: 15px;
}

.journal-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    grid-template-rows: repeat(auto-fit, minmax(250px, 350px));
    gap: 20px;
}